  <% IF result.size AND result != 0 %>
    <b>Book details</b>
    <br><br>
      <p>Author: <% result.fullname %> <% result.surname %></p>
      <p>Title: <% result.title %></p>
      <p>ISBN: <% result.isbn_no %></p>
      <p>Date: <% result.edition_date %></p>
  <% ELSE %>
    Book not found
  <% END %>

<br><br>
Back to <a href="/"> << bookstore </a> <a href="/books"> << books </a>
