  <% IF results.size %>
    <b>Book details</b>
    <br><br>
    <% FOREACH result IN results %>
      <p>Author: <% result.name %> <% result.surname %></p>
      <p>Title: <% result.title %></p>
      <p>ISBN: <% result.isbn_no %></p>
      <p>Date: <% result.edition_date %></p>
    <% END %>
  <% ELSE %>
    Book not found
  <% END %>

<br><br>
Back to <a href="/"> << bookstore </a> <a href="/books"> << books </a>
